body 
{
    background: #AAD9E6;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment 
{
    display:flex;
    padding: 10px;
    margin: 20px;
    background: #C89866;
    border-radius: 10px;
}

.assignment img 
{
    width: 200px;
    margin: 20px;
    border: 3px solid #994C01;
    border-radius: 10px;
    
}

.assignment img:hover 
{
    border: 3px dashed #80C6E6;
    border-radius: 10px;
}


h1 
{
    color: #994C01;
    text-align: center;
}

a 
{
    text-decoration: none;
    color: #994C01;
}

a:hover
{
    color: #80C6E6; 
}