body
{
  background: lightslategray;
  font-family: Arial, Helvetica, sans-serif;
}

h1
{
  color: blue;
  text-align: center;
}

a
{
  text-decoration: none;
  color: black;
}
.assign
{
  display: flex;
  padding: 10px;
  margin: 10px;
  background: cyan;
  border-radius: 50px;
}

.assign img 
{
    width: 200px;
    margin: 10px;
    border: 2px dashed midnightblue; 
}

